#main_title {
	position: relative; 
	font-size: 3.9em;
	width: ;
	float: right;
	margin: 2% 10% 0 0; 
}

nav ul {
	left: 15%;
}

#logoImage {
	width: 250px;
}

#section_2 {
	background-position: top;
	height: 800px;
}

#section_2 img {
	width: 300px;
}