body {
	margin: 0;
}

header {
	position: fixed;
	width: 100%; 
	top: 0;
	left: 0;
	height: 120px;
	background-color: rgba(145,7,12,1);
	z-index: 1000;
/*	background: -webkit-linear-gradient(to bottom, rgba(145, 7, 12, .1), rgba(145, 7, 12, 1));
	background: -o-linear-gradient(to bottom, rgba(145, 7, 12, .1), rgba(145, 7, 12, 1));
	background: -moz-linear-gradient(to bottom, rgba(145, 7, 12, .1), rgba(145, 7, 12, 1));
	background: linear-gradient(to bottom, rgba(145, 7, 12, .5) 5%, rgba(145, 7, 12, 1) 30%, rgba(200, 200, 200, .7) 60%, rgba(200, 200, 200, .8), rgba(136, 102, 21, 1) 99%);	
	border-bottom: 1px solid rgba(170,170,170,1);
*/
}

.background_image {
	position: relative;
	top: 123px;
}

article div img {
	width: 100%;
}



