body {
	background-image: url(../images/backgrounds/storm_clouds.jpg);
	background-repeat: no-repeat; 
	background-attachment: fixed;
	background-size: 100%;
/*	background-color: rgba(149,70,30,1); */
	color: #ccc;
	opacity:;
}

@media(max-width: 450px) {
	body {
		background-image: none;
	}
}

.container-fluid {
	background-color: rgba(149,70,30,.9);
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	height: auto;
	z-index: 5000;
}

article .img_a_width {
	width: 410px;
}

@media(max-width: 450px) {
	article .img_a_width {
		width: 310px;
	}
}

.navbar-default {
	background: -o-linear-gradient(to bottom, rgba(255, 255, 255, 1) 1%, rgba(40,131,204, 1) 90%, rgba(20,175,214, 1) , rgba(255, 255, 255, .6) 95%);
	background: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 1) 1%, rgba(40,131,204, 1) 90%, rgba(20,175,214, 1) , rgba(255, 255, 255, .6) 95%);
	background: -webkit-gradient(to bottom, rgba(255, 255, 255, 1) 1%, rgba(40,131,204, 1) 90%, rgba(20,175,214, 1) , rgba(255, 255, 255, .6) 95%);
	background: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 1) 1%, rgba(40,131,204, 1) 90%, rgba(20,175,214, 1) , rgba(255, 255, 255, .6) 95%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 1%, rgba(40,131,204, 1) 90%, rgba(20,175,214, 1) , rgba(255, 255, 255, .8) 95%);
}

.navbar-toggle {
	margin-right: 40px;
}

ul {
	position: relative;
	right: 5em;
}

#collapse li {
	position: relative;
	padding-left: 60px;
}

#collapse a {
	color: #fff;
	font-size: 1.5em;
}

#collapse a:hover {
	color: #000;
}

li:hover {
	background-color: rgba(40,131,204, 1);
	border-radius: 15px;
}

h1 {
	float: left;
	margin-left: 5em;
	margin-bottom: -10px;
	color: #000;
	font-size: 3.5em;
	text-shadow: 2px 2px 2px #fff;
	font-weight: bold;
}

#main_header {
	float: left;
	margin-left: 1em;
}

h3 {
	color: rgba(204,204,113,.5);
	font-size: 2em;
}

#wrapper {
	margin: 10em auto 5em auto;
}

img {
	background-color: rgba(0,0,0,1);
	padding: 5px;
	border-radius: 8px;
}

@media(max-width: 769px) {
	#wrapper {
		padding-left: 2em;
	}
	img {
		width: 80%;
	}
	h1 {
		margin-left: 1em;
		font-size: 2.5em;
	}
}

@media(max-width: 450px) {
	img {
		width: ;
	}

	#wrapper {
		margin-left: 1em;
		margin-right: 1em;
	}
}

.p_width {
	width: 70%;
	padding-top: 2em;
}

#third_row {
	position: absolute;
	height: ;
	width: 103%;
	left: 0;
	background: -o-linear-gradient(to bottom, rgba(145, 7, 12, 1) 80%, rgba(145, 7, 12, .4) );
	background: -moz-linear-gradient(to bottom, rgba(145, 7, 12, 1) 80%, rgba(145, 7, 12, .4) );
	background: -webkit-gradient(to bottom, rgba(145, 7, 12, 1) 80%, rgba(145, 7, 12, .4) );
	background: -webkit-linear-gradient(to bottom, rgba(145, 7, 12, 1) 80%, rgba(145, 7, 12, .4) );
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 1%, rgba(20,175,214, 1) 10%, rgba(40,131,204, .7) 50%);
}

#bottom-col {
	margin-bottom: 2em;
}

dl {
	margin: 2em 0 2em 5em;
	color: #000;
}

dt {
	color: #000;
	border-bottom: 2px dotted #000;
	width: 150px;
}

dd {
	color: #ccc;
}

.media_image {
	width: 60px;
	background-color: inherit;
	margin-top: 2em;
}
