body {
	background-color: #660000;
	color: #ccc;
}

@media (max-width: 450px) {
	body {
		padding: 5em 1em;
	}
}

header {
	position: fixed;
	width: 100%;
	top: 51px;
	left: 0;
	height: 80px;
	background-color: rgba(145,7,12,.7);
	background: -o-linear-gradient(to bottom,rgba(145, 7, 12, 1) 85%, rgba(255, 255, 255, .7));
	background: -moz-linear-gradient(to bottom, rgba(145, 7, 12, 1) 85%, rgba(255, 255, 255, .7));
	background: linear-gradient(to bottom, rgba(145, 7, 12, 1) 85%, rgba(255, 255, 255, .7));
	z-index: 1000;
	background: -webkit-gradient(to bottom, rgba(145, 7, 12, 1) 85%, rgba(255, 255, 255, .7));	
	background: -webkit-linear-gradient(to bottom, rgba(145, 7, 12, 1) 85%, rgba(255, 255, 255, .7));
	border-bottom: 1px solid rgb(229, 187, 184);
}

h1 {
	margin-top: ;
	margin-bottom: -7px;
	color: #000;
	font-weight: bold;
	font-size: 3.5em;
	text-shadow: 2px 2px 4px #fff;
}

@media(max-width: 450px) {
	h1 {
		font-size: 2.5em;
	}
}

#main_header {
	float: left;
	margin-left: 1em;
}

.row {
	margin: 0 2% 20px 0;
}

.img-thumbnail {
	background-color: rgba(255,255,255,.7);
	border: 2px solid #000;
	padding: 5px;
	margin-bottom: 2em;
}

#top_pic_row {
	margin-top: 100px;
}

nav {
	background: -o-linear-gradient(to bottom, rgba(145, 7, 12, 1) 80%, rgba(145, 7, 12, .4) );
	background: -moz-linear-gradient(to bottom, rgba(145, 7, 12, 1) 80%, rgba(145, 7, 12, .4) );
	background: -webkit-gradient(to bottom, rgba(145, 7, 12, 1) 80%, rgba(145, 7, 12, .4) );
	background: -webkit-linear-gradient(to bottom, rgba(145, 7, 12, 1) 80%, rgba(145, 7, 12, .4) );
	background: linear-gradient(to bottom, rgba(145, 7, 12, 1) 80%, rgba(145, 7, 12, .4) );
}

.navbar {
	border: none;
}

ul {
	position: relative;
	right: 5em;
}

@media (max-width: 770px) {
	ul {
		position: relative;
		right: 0em;
	}
}

li:hover {
	background-color: #660000;
	border-radius: 15px;
}

#collapse a {
	color: #ccc;
	font-size: 1.5em;
}

#photo_slide {
	width: 400px;
	height: 300px;
}

#carousel-example-generic {
	width: 100%;
	padding: 10px 10px 10px 10px;
	margin-top: 10em;
	border: 3px solid #000;
	border-radius: 15px;
	background-color: #000;
}

.carousel-inner {
	border: 3px solid #000;
	height: auto;
}

@media(max-width: 1350px) {
	.carousel-inner {
		height: 294px;
	}
}

@media(max-width: 1050px) {
	.carousel-inner {
		height: 227px;
	}
}

@media(max-width: 450px) {
	#carousel-example-generic {
		padding: 5px;
		margin-bottom: -60px;
	}
	.carousel-inner {
		height: 70px;
	}
}

footer {
	position: absolute;
	height: ;
	width: 103%;
	left: 0;
	background: -o-linear-gradient(to bottom, rgba(255,255,255,.7) , rgba(145, 7, 12, .4), rgba(145, 7, 12, 1) 80%);
	background: -moz-linear-gradient(to bottom, rgba(255,255,255,.7) , rgba(145, 7, 12, .4), rgba(145, 7, 12, 1) 80%);
	background: -webkit-gradient(to bottom, rgba(255,255,255,.7) , rgba(145, 7, 12, .4), rgba(145, 7, 12, 1) 80%);
	background: -webkit-linear-gradient(to bottom, rgba(255,255,255,.7) , rgba(145, 7, 12, .4), rgba(145, 7, 12, 1) 80%);
	background: linear-gradient(to bottom, rgba(255,255,255,.7) , rgba(145, 7, 12, .4), rgba(145, 7, 12, 1) 80%);
}

/*
#third_row {
	height: 150px;
	background: -o-linear-gradient(to bottom, rgba(145, 7, 12, 1) 80%, rgba(145, 7, 12, .4) );
	background: -moz-linear-gradient(to bottom, rgba(145, 7, 12, 1) 80%, rgba(145, 7, 12, .4) );
	background: -webkit-gradient(to bottom, rgba(145, 7, 12, 1) 80%, rgba(145, 7, 12, .4) );
	background: -webkit-linear-gradient(to bottom, rgba(145, 7, 12, 1) 80%, rgba(145, 7, 12, .4) );
	background: linear-gradient(to bottom, rgba(255,255,255,.7) , rgba(145, 7, 12, .4), rgba(145, 7, 12, 1) 80%);
	width: 100%;
}
*/

/* Footer CSS */
#contact {
	color: #000;
	border-bottom: 1px solid #000;
}

#third_row dl {
	color: #000;
}

#bottom-col {
	margin-bottom: 2em;
}

dt {
	font-size: 1.2em;
	width: 230px;
}

dl {
	margin: 2em 0 2em 5em;
}

dd {
	color: #ccc;
}

#contact {
	color: #000;
	border-bottom: 2px dotted #000;
}

.media_image {
	width: 60px;
	background-color: inherit;
	margin-top: 2em;
}

