body {
	background-color: #660000;
	color: #ccc;
}



/* Navigation and header */
header {
	width: 106%;
	position: relative;
	
	background-color: rgba(145,7,12,.7);
	background: -o-linear-gradient(to bottom,rgba(145, 7, 12, 1) 85%, rgba(255, 255, 255, .7));
	background: -moz-linear-gradient(to bottom, rgba(145, 7, 12, 1) 85%, rgba(255, 255, 255, .7));
	background: linear-gradient(to bottom, rgba(145, 7, 12, 1) , rgba(255, 255, 255, .7) );
	background: -webkit-gradient(to bottom, rgba(145, 7, 12, 1) , rgba(255, 255, 255, .7) );	
	background: -webkit-linear-gradient(to bottom, rgba(145, 7, 12, 1) , rgba(255, 255, 255, .7) );
	border-bottom: 1px solid rgba(229, 187, 184, 1);
}

nav {
	background: -o-linear-gradient(to bottom, rgba(145, 7, 12, .9) , rgba(125, 7, 12, .9) 70%,rgba(145, 7, 12, .4) 99%);
	background: -moz-linear-gradient(to bottom, rgba(145, 7, 12, .9) , rgba(125, 7, 12, .9) 70%,rgba(145, 7, 12, .4) 99%);
	background: -webkit-gradient(to bottom, rgba(145, 7, 12, .9) , rgba(125, 7, 12, .9) 70%,rgba(145, 7, 12, .4) 99%);
	background: -webkit-linear-gradient(to bottom, rgba(145, 7, 12, .9) , rgba(125, 7, 12, .9) 70%,rgba(145, 7, 12, .4) 99%);
	background: linear-gradient(to bottom, rgba(145, 7, 12, .9) , rgba(125, 7, 12, .9) 70%,rgba(145, 7, 12, .4) 99%);
	box-shadow: 1px 5px 5px #111;
}

.navbar {
/*	border: 1px solid rgba(145, 7, 12, 1); */
}

section {
	position: relative;
	height: 50px;
}

a {
	z-index: 1000;
}

h1 {
	position: relative;
	top: 13px;
	text-shadow: 3px 3px 3px #000;
	margin-left: 1em;
	font-size: 3.1em;
}

h5 {
	position: relative;
	top: 5px;
	margin-left: 32em;
}

ul {
	padding-right: 10em;
}

li:hover {
	background-color: #660000;
	border-radius: 15px;
}

#collapse a {
	color: #ccc;
	font-size: 1.8em;
}

@media(max-width: 1100px) {
	section {
		height: ;
		clear: both;
	}
}

@media(max-width: 450px) {
	h1 {
		position: relative;
		top: -34px;
	}
	h5 {
		margin-left: 200px;
		top: -35px;
	}

}
/* Navigation and header */



.row {
	margin: 0 2% 20px 0;
}

.img-thumbnail {
	background-color: rgba(255,255,255,.7);
	border: 2px solid #000;
	padding: 5px;
	margin-bottom: 2em;
}

#top_pic_row {
	margin-top: 100px;
}

#photo_slide {
	width: 400px;
	height: 300px;
}

#carousel-example-generic {
	width: 100%;
	padding: 10px 10px 10px 10px;
	margin-top: 10em;
	border: 3px solid #000;
	border-radius: 15px;
	background-color: #000;
}

@media(max-width: 450px) {
	#carousel-example-generic {
		margin-top: 12em;
	}
}

.carousel-inner {
	border: 3px solid #000;
	height: auto;
}

@media(max-width: 1350px) {
	.carousel-inner {
		height: 294px;
	}
}

@media(max-width: 1050px) {
	.carousel-inner {
		height: 227px;
	}
}

@media(max-width: 450px) {
	#carousel-example-generic {
		padding: 5px;
		margin-bottom: -60px;
	}
	.carousel-inner {
		height: 70px;
	}
}

footer {
	position: absolute;
	height: ;
	width: 103%;
	left: 0;
	background: -o-linear-gradient(to bottom, rgba(255,255,255,.7) , rgba(145, 7, 12, .4), rgba(145, 7, 12, 1) 80%);
	background: -moz-linear-gradient(to bottom, rgba(255,255,255,.7) , rgba(145, 7, 12, .4), rgba(145, 7, 12, 1) 80%);
	background: -webkit-gradient(to bottom, rgba(255,255,255,.7) , rgba(145, 7, 12, .4), rgba(145, 7, 12, 1) 80%);
	background: -webkit-linear-gradient(to bottom, rgba(255,255,255,.7) , rgba(145, 7, 12, .4), rgba(145, 7, 12, 1) 80%);
	background: linear-gradient(to bottom, rgba(255,255,255,.7) , rgba(145, 7, 12, .4), rgba(145, 7, 12, 1) 80%);
}

/* Footer CSS */
#contact {
	color: #000;
	border-bottom: 1px solid #000;
}

#third_row dl {
	color: #000;
}

#bottom-col {
	margin-bottom: 2em;
}

dt {
	font-size: 1.2em;
	width: 230px;
}

dl {
	margin: 2em 0 2em 5em;
}

dd {
	color: #ccc;
}

#contact {
	color: #000;
	border-bottom: 2px dotted #000;
}

.media_image {
	width: 60px;
	background-color: inherit;
	margin-top: 2em;
}

