body {
	background-color: rgba(50,50,100,1);
}

.navbar-default {
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 1%, rgba(40,131,204, .8) 80%, rgba(204,204,204, 1) 95%);
}

#collapse a {
	color: #fff;
	margin-right: 1em;
	font-size: 1.5em;
	margin-top: 8px;
}

#collapse a:hover {
	color: #000;
}

h1 {
	margin-left: 5em;
	color: #ccc;
	font-size: 3em;
	font-weight: bold;	
	text-shadow: 3px 3px 3px #000;
}

@media (max-width: 1350px) {
	#main_header {
		margin-left: 1em;
		font-size: 2.5em;
	}
}

@media(max-width: 992px) {
	h1 {
		font-size: 2.5em;
		margin-left: 3em;
		padding-top: 10px;
	}
	.container-fluid {
		margin-top: -20px;
	}
}

@media (max-width: 768px) {
	h1 {
		margin-left: 1em;
		padding-top: 5px;
	}
	#main_header {
		font-size: 2em;

	}
}

#first_row {
	background-color: rgba(50,50,100,1);
	height: ;
	margin-top: 10em;
	margin-bottom: ;
}

#second_row {
	background-color: rgba(50,50,100,1);
	height: auto;
}

#third_row {
	border-top: 3px solid rgba(255,255,255, 1);
	border-bottom: 3px solid rgba(255,255,255, 1);
	background-color: rgba(204,204,204,.7);
	height: auto;
	padding: 1em 5em 1em 15%;
}

#third_row dl {
	color: #000;
}

.intro {
	color: #ccc;
	text-indent: 2em;
	font-size: 1.1em;
}

dt {
	font-size: 1.2em;
	color: rgba(220,220,220,1);
	border-bottom: 1px dotted #fff;
	width: 230px;
	margin-bottom: 10px;
}

#contact {
	color: #000;
	border-bottom: 1px solid #000;
}

dl {
	color: #ccc;
}

#top_p {
	font-size: 1.2em;
	color: rgba(215,215,215,1);
}