/* Less than 1860 and greater than 1301 */
body {
	background-color: #000;
}
#main_title {
	position: relative; 
	font-size: 3.9em;
	width: ;
	float: right;
	margin: 0 10% 0 0; 
}

nav {
	top: 100px;
	right: 20px;
}

#logoImage {
	width: 250px;
}

#section_2 {
	background-position: top;
	height: 800px;
}

#section_2 img {
	width: 300px;
	margin-right: 1%;
}

#photo_p {
	bottom: 0;
}
