/* Main Navigation */
#mobile_nav ul {
	position: fixed;
	top: 100px;
	left: 70%;
	width: 230px;
	z-index: 1000;	
}

@media(orientation: landscape) {
	
}

#mobile_nav li {
	text-align: center;
	color: rgba(0, 0, 0, 1);
	margin-top: 5px;
	padding: 5px 1px 5px 1px;
	background-color: rgba(0, 0, 0, 1);
	border-radius: 5px;
	list-style-type: none;
 	background: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 1) 1%, rgba(213, 166, 54, 1) 30%, rgba(136, 102, 21, 1) 70%, rgba(91, 74, 54, 1) 99%);
	background: -o-linear-gradient(to bottom, rgba(255, 255, 255, 1) 1%, rgba(213, 166, 54, 1) 30%, rgba(136, 102, 21, 1) 70%, rgba(91, 74, 54, 1) 99%);
	background: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 1) 1%, rgba(213, 166, 54, 1) 30%, rgba(136, 102, 21, 1) 70%, rgba(91, 74, 54, 1) 99%); 
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 1%, rgba(213, 166, 54, 1) 30%, rgba(136, 102, 21, 1) 70%, rgba(91, 74, 54, 1) 99%);
}

#mobile_nav a {
	font-size: 1.5em;
	color: #000;
	text-decoration: none;
}

.pad_hide {
	display: none;
}
/* MAIN NAVIGATION */