/* Less 440 pixels */
body {
	position: relative;
	background-color: #000;
	background-image: url(../images/backgrounds/fort_stevens.jpg);
	background-size: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	margin: 0;
	font-size: 100%;
	overflow-x: hidden;
	height: auto;
	min-width: 900px;
}

header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	height: 70px;
	background-color: rgba(145,7,12,.7);
	background: -webkit-linear-gradient(to bottom, rgba(145, 7, 12, .1), rgba(145, 7, 12, 1));
	background: -o-linear-gradient(to bottom, rgba(145, 7, 12, .1), rgba(145, 7, 12, 1));
	background: -moz-linear-gradient(to bottom, rgba(145, 7, 12, .1), rgba(145, 7, 12, 1));
	background: linear-gradient(to bottom, rgba(145, 7, 12, .2), rgba(145, 7, 12, 1));
	z-index: 1000;	
	border-bottom: 1px solid rgb(229, 187, 184);	
}

.logoImage {
	position: absolute;
	width: 300px;
	padding: 70px 0 0 0;
	top: 0;
	left: 10%;
}

#media_links {
	position: absolute;
	top: 12%;
	left: 5%;
}

.media_links {
	width: 60px;
	float: left;
	margin-right: 15px;
}

h1 {
	text-align: right;
	font-size: 3em;
	margin: 20% 10% 0 0;
	color: rgba(255,255,255,.8);
	text-shadow: 5px 5px 5px #000;
	letter-spacing: .2em;
}

#main_title {
	position: relative;
	text-align: right;
	margin: 0 10% 0 0;
	font-size: 2.5em;
	top: 10px;
	width: auto;
}

h2 {
	text-align: center;
	font-size: ;
	color: rgba(255,255,255,.8);
	text-shadow: 5px 5px 5px #000;
	letter-spacing: .2em;
}

#cus_web_photo {
	position: relative;
	top: 15%;
	left: auto;
	font-size: 4.5em;
}

#cus_web_h1 {
	position: relative;
	top: 35%;
	left: -4%;
	font-size: 4em;
}

/* Main Navigation */
nav {
	position: fixed;
	top: 4%;
	z-index: 10000;
}

nav li {
	width: 80px;
	letter-spacing: -1px;
	background-color: rgba(0, 42, 255, 1);
	background-color: rgba(140, 100, 20, 1);
	background: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 1) 1%, rgba(213, 166, 54, 1) 30%, rgba(136, 102, 21, 1) 70%, rgba(91, 74, 54, 1) 99%);
	background: -o-linear-gradient(to bottom, rgba(255, 255, 255, 1) 1%, rgba(213, 166, 54, 1) 30%, rgba(136, 102, 21, 1) 70%, rgba(91, 74, 54, 1) 99%);
	background: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 1) 1%, rgba(213, 166, 54, 1) 30%, rgba(136, 102, 21, 1) 70%, rgba(91, 74, 54, 1) 99%); 
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 1%, rgba(213, 166, 54, 1) 30%, rgba(136, 102, 21, 1) 70%, rgba(91, 74, 54, 1) 99%);
	margin-bottom: 0;
	height: 35px;
	padding:  5px 50px 0 10px;
	list-style: none;
	text-align: ;
	border-radius: 5px; 
}


nav a {
	color: #fff;
	text-decoration: none;
	position: relative;	
}
/* MAIN NAVIGATION */

section {
	position: relative;
	width: 100%;
/*	background-color: rgba(255,255,255,1); */
	height: 1000px;
	z-index: 500;
}

#section_1 {
	position: relative;
	height: 480px;
	margin-top: 0;
	background-position: center top;
	/*background-image: url(../images/main_page/sec_1_slide/s1_background.jpg);*/ 
	background-repeat: no-repeat;
	border-bottom: 2px solid #fff;
}

#photo_p {
	color: #fff;
	text-decoration: none;
	margin-left: 15%;
	text-align: center;
	font-size: 1.6em;
}

#section_1_5 {
	height: 400px;
	background-color: rgb(227,224,223);
	background-color: rgba(10, 10, 10, .6);
	z-index: 2000;
	border-top: 2px solid #fff;
}

#h1_1_5 {
	font-size: 3.8em;
	text-shadow: 5px 5px 5px #999;
	margin: 2% 6% 0 6%;
	text-align: center;
}

#p_1_5 {
	color: #fff;
	text-align: center;
	font-size: 1.6em;
	font-weight: bold;
	letter-spacing: .2em;
	margin: 5% 8% 0 8%;
}

#section_2 {
	height: 750px;
	background-position: top;
}

#section_2 {
	background-color: rgba(100, 100, 100, 1);
	background-image: url(../images/backgrounds/under_bridge.jpg);
	background-size: 100%;
	background-position: top;
	background-repeat: no-repeat;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	margin-top: 0;
	height: 750px;
	z-index: 1100;
}

#section_2_photos {
	margin-top: -10%;
}

#section_2 img {
	position: relative;
	width: 150px;
	left: 10%;
	padding: 5px;
	background-color: rgba(245, 240, 240,1);
	border-radius: 15px;
	margin: 0 5% 2% 5%;
	border: 5px solid #000;
}

/* Photo h1 */
#land_photo_h1 {
	position: relative;
	font-size: 4.5em;
	text-align: center;
	top: -20%;
	z-index: 1000;
	color: #fff;
}

