
@media (max-width: 910px) {
	#main_title {
		font-size: 3.5em;
	}
}

@media (max-width: 1300px) {
	nav ul {
		position: relative;
		left: 10%;
	}
}

@media (max-width: 1030px) {
	nav ul {
		position: relative;
		left: 5%;
	}
}
