#main_title {
	position: relative; 
	font-size: 3em;
	width: ;
	float: right;
	margin: 5% 10% 0 0; 
}

nav ul {
	left: 6%;
}

#logoImage {
	width: 250px;
	left: 5%;
}

#section_1 {
	height: 480px;
}

#section_2 {
	background-position: top;
	height: 800px;
}

#section_2 img {
	width: 200px;
	padding: 5px;
}