/* Less than 1300px */
body {
	background-color: #000;
}
#main_title {
	position: relative; 
	font-size: 3em;
	width: ;
	float: right;
	margin: 0 10% 0 0; 
}

nav {
	top: 100px;
	right: 20px;
	
}

nav li {
	width: 100px;
	margin-bottom: 5px;
}

#logoImage {
	width: 250px;
	left: 5%;
}

#section_1 {
	height: 470px;
}

#section_2 {
	background-position: top;
	height: 800px;
}

#section_2 img {
	width: 200px;
	padding: 5px;
}

#photo_p {
	bottom: 0;
}