/* CSS Document */
body {
	position: relative;
	background-color: rgba(0, 42, 255, 1); 
	background-image: url(../images/backgrounds/fort_stevens.jpg);
	background-size: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	margin: 0;
	font-size: 100%;
	overflow-x: hidden;
	height: auto;
	min-width: 900px;
}

/* HEADER */
header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	height: 80px;
	background-color: rgba(145,7,12,.7);
	background: -webkit-linear-gradient(to bottom, rgba(145, 7, 12, .1), rgba(145, 7, 12, 1));
	background: -o-linear-gradient(to bottom, rgba(145, 7, 12, .1), rgba(145, 7, 12, 1));
	background: -moz-linear-gradient(to bottom, rgba(145, 7, 12, .1), rgba(145, 7, 12, 1));
	background: linear-gradient(to bottom, rgba(255, 255, 255, .2) 2%, rgba(145, 7, 12, 1));
	z-index: 1000;	
	border-bottom: 1px solid rgb(229, 187, 184);
}

#logoImage {
	position: absolute;
	width: 250px;
	padding: 70px 0 0 0;
	top: 0;
	left: 10%;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px; 
	background-color: #000;
	background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, 1));
	background: -o-linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, 1));
	background: -moz-linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, 1));
	background: linear-gradient(to bottom, rgba(0, 0, 0, .3),rgba(0, 0, 0, 1)); 
	border-right: 1px solid rgb(145, 7, 12);
	border-bottom: 3px solid rgb(145, 7, 12);
}

h1 {
	text-align: center;
	font-size: ;
	color: rgba(255,255,255,.8);
	text-shadow: 5px 5px 5px #000;
	letter-spacing: .2em;
}

#main_title {
	text-align: right;
	margin: 0 10% 0 0;
	font-size: 4em;
}

h2 {
	text-align: center;
	font-size: ;
	color: rgba(255,255,255,.8);
	text-shadow: 5px 5px 5px #000;
	letter-spacing: .2em;
}

#cus_web_h1 {
	position: relative;
	top: 23%;
	left: auto;
	font-size: 4.5em;
}

/* Photo h1 */
#land_photo_h1 {
	font-size: 4.5em;
	/*position: relative;
	top: 60%;*/
}

/* HEADER */		

/* Main Navigation */


/* MAIN NAVIGATION */

section {
	position: relative;
	margin-top: ;
	width: 100%;
/*	background-color: rgba(255,255,255,1); */
	height: ;
	z-index: 500;
}

.navScroll {
	display: none;
}

#section_1 {
	height: 950px;
	background-position: center top;
	/*background-image: url(../images/main_page/sec_1_slide/s1_background.jpg);*/ 
	background-repeat: no-repeat;
}

#photo_p {
	color: #fff;
	text-decoration: none;
	position: absolute;
	bottom: 10%;
	left: 10%;
	text-align: center;
	font-size: 1.2em;
}

#photo_p:hover {
	color: rgb(255,20,30);
}

#section_1_5 {
	height: 400px;
	background-color: #aaa;
	z-index: 2000;
}

#section_2 {
	background-color: rgba(100, 100, 100, 1);
	background-image: url(../images/backgrounds/under_bridge.jpg); 
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	margin-top: 0;
	z-index: 1100;
}

#section_2 img {
	width: 400px;
	padding: 10px;
	background-color: rgba(245, 240, 240,1);
	border-radius: 15px;
	margin: 0 5% 2% 5%;
	border: 5px solid #000;
}

