nav {
	position: fixed;
	top: 50px;
	right: 2%;
	float: right;
	z-index: 10000;
	margin-top: 2%;

}

nav li {
	width: 10px;
	height: 5px;
	margin-bottom: 2px;
	background-color: rgba(0, 0, 0, 1);
	list-style: none;
	margin-bottom: 3px;
	border-radius: 10px;
}

nav a {
	display: none;
}